body {
    background-color: #334e5a;
    overflow: hidden;
}

:root {
    --col-length: 18px;
    --row-height: 16px;
}

/* main content */
#backicon-btn{
    position: absolute;
    top: 520px;
    left: 1450px;
    cursor: pointer;
}
#backicon-btn-img{
    height: 30px;
    width: 30px;
}

#homeicon-btn{
    position: absolute;
    top: 470px;
    left: 1450px;
    cursor: pointer;
}
#homeicon-btn-img{
    height: 30px;
    width: 30px;
}
header::before {
    background: url('https://m.media-amazon.com/images/M/MV5BMjExMjkwNTQ0Nl5BMl5BanBnXkFtZTcwNTY0OTk1Mw@@._V1_.jpg') no-repeat bottom center/cover;
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 64%;
    z-index: -1;
    opacity: 0.5;
}

.desc {
    margin-top: 24px;
    margin-left: 26px;
    margin-right: 9px;
    display: grid;
    /* position: absolute;
    top: 44px; */
    column-gap: 335px;
    row-gap: 79px;
    grid-template-columns: repeat(4, 40px);
    grid-template-rows: repeat(2, 20px);
}

.ind-descriptions {
    white-space: nowrap;
}

/* buttons */
.desc-text {
    display: none;
}

.show-text {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    width: 220px;
    color: white;
}

.ind-desc-btn {
    background-color: rgb(57 57 57 / 80%);
    cursor: pointer;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-right: 10px;
    border: none;
    border-radius: 16px;
    width: 344px;
    transition: all 0.3s ease-in;
    font-size: 24px;
    font-family: 'Yellowtail', cursive;
    color: rgb(199, 198, 198);
    font-weight: 100;
}

.ind-desc-btn:hover {
    color: rgb(230, 227, 227);
}


#title {
    position: absolute;
    top: 180px;
    left: 56px;
    font-size: 78px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 1000;
    transition: all ease-in-out 0.8s;
    text-shadow: 4px 4px 6px gray;
}

#title:hover {
    transform: scale(1.2);
}

/* similar movies */
.similarmovies {
    position: absolute;
    top: 598px;
    left: 177px;
}

.indImage {
    margin: 24px;
    transition: all ease-in-out 0.5s;
    box-shadow: 2px 12px 14px rgb(53, 35, 103);
}

.indImage:hover {
    transform: translateY(-24px);
}

#similar-title {
    position: absolute;
    top: 540px;
    left: 660px;
    font-size: 40px;
    font-family: 'Yellowtail', cursive;
    color: rgba(0, 0, 0, 0.776);
    font-weight: 100;
}