body {
    background-color: rgb(159, 120, 98);
    overflow: hidden;
}

:root {
    --col-length: 18px;
    --row-height: 16px;
}

/* main content */
#backicon-btn{
    position: absolute;
    top: 520px;
    left: 1450px;
    cursor: pointer;
}
#backicon-btn-img{
    height: 30px;
    width: 30px;
}

#homeicon-btn{
    position: absolute;
    top: 470px;
    left: 1450px;
    cursor: pointer;
}
#homeicon-btn-img{
    height: 30px;
    width: 30px;
}
#movie-title {
    position: absolute;
    top: 500px;
    left: 420px;
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: rgb(179, 179, 179);
    background-color: rgba(0, 0, 0, 0.2);
    width: 790px;
    padding-left: 24px;
    border-radius: 48px;
}

header::before {
    background: url('https://m.media-amazon.com/images/M/MV5BNjNhZTk0ZmEtNjJhMi00YzFlLWE1MmEtYzM1M2ZmMGMwMTU4XkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_.jpg') no-repeat center center/cover;
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 66%;
    z-index: -1;
    opacity: 0.7;
}

.desc {
    margin-top: 24px;
    margin-left: 26px;
    margin-right: 9px;
    display: grid;
    column-gap: 335px;
    row-gap: 79px;
    grid-template-columns: repeat(4, 40px);
    grid-template-rows: repeat(2, 20px);
}

.ind-descriptions {
    white-space: nowrap;
}

/* buttons */
.desc-text {
    display: none;
}

.show-text {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    width: 220px;
    color: white;
}

.ind-desc-btn {
    background-color: rgba(79, 76, 76, 0.7);
    cursor: pointer;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-right: 10px;
    border: none;
    border-radius: 16px;
    width: 344px;
    transition: all 0.3s ease-in;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(199, 198, 198);
    font-weight: bold;
}

.ind-desc-btn:hover {
    color: rgb(230, 227, 227);
}

/* similar movies */
.similarmovies {
    position: absolute;
    top: 598px;
    left: 177px;
}

.indImage {
    margin: 24px;
    transition: all ease-in-out 0.5s;
    box-shadow: 2px 12px 16px rgba(142, 58, 58, 0.783);
}

.indImage:hover {
    transform: translateY(-24px);
}

#similar-title {
    position: absolute;
    top: 570px;
    left: 666px;
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
    color: #afacac;
    font-style: italic;
}