body {
    background-color: rgb(231, 230, 230);
}

:root {
    --col-length: 18px;
    --row-height: 16px;
}

/* main content */
#main-img {
    position: absolute;
    left: 622px;
    top: 20px;
    box-shadow: 10px 10px 16px grey;
    transform: scale(1.1);
}

.desc {
    margin-left: 26px;
    margin-right: 9px;
    display: grid;
    position: absolute;
    top: 356px;
    column-gap: 368px;
    row-gap: 79px;
    grid-template-columns: repeat(4, var(--col-length));
    grid-template-rows: repeat(2, var(--row-height));
}

.ind-descriptions{
    white-space:nowrap;
}

/* buttons */
.desc-text {
    display: none;
}

.show-text{
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    width: 220px;
}

.ind-desc-btn {
    background-color: rgb(219, 219, 219);
    cursor: pointer;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-right: 10px;
    border: 2px solid rgba(0, 0, 0, 0.591);
    border-radius: 12px;
    transition: all 0.5s ease-in;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(63, 63, 63);
}
.ind-desc-btn:hover{
    background-color: rgb(153, 162, 172);
}


#title {
    position: absolute;
    top: 180px;
    left: 56px;
    font-size: 78px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 1000;
    transition: all ease-in-out 0.8s;
    text-shadow: 4px 4px 6px gray;
}

#title:hover {
    transform: scale(1.2);
}

/* similar movies */
.similarmovies {
    position: absolute;
    top: 567px;
    left: 177px;
}

.indImage {
    margin: 24px;
    transition: all ease-in-out 0.5s;
    box-shadow: 0px 10px 14px gray;
}

.indImage:hover {
    transform: translateY(-24px);
}

#similar-title {
    position: absolute;
    top: 495px;
    left: 41px;
    font-size: 38px;
    font-family: 'Montserrat', sans-serif;

}

