body {
    background-color: rgb(29 0 2);
    overflow: hidden;
    /* overflow-y: hidden; */

}

:root {
    --col-length: 18px;
    --row-height: 16px;
}

/* main content */
#backicon-btn{
    position: absolute;
    top: 520px;
    left: 1450px;
    cursor: pointer;
}
#backicon-btn-img{
    height: 30px;
    width: 30px;
}

#homeicon-btn{
    position: absolute;
    top: 470px;
    left: 1450px;
    cursor: pointer;
}
#homeicon-btn-img{
    height: 30px;
    width: 30px;
}
header::before {
    background: url('https://st1.bollywoodlife.com/wp-content/uploads/2018/07/tumbbad.png') no-repeat top center/cover;
    content: "";
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 58%;
    z-index: -1;
}

.desc {
    margin-top: 24px;
    margin-left: 26px;
    margin-right: 9px;
    display: grid;
    column-gap: 335px;
    row-gap: 79px;
    grid-template-columns: repeat(4, 40px);
    grid-template-rows: repeat(2, 20px);
}

.ind-descriptions {
    white-space: nowrap;
}

/* buttons */
.desc-text {
    display: none;
}

.show-text {
    display: inline-block;
    font-family: 'Kalam', cursive;
    font-style: italic;
    width: 220px;
    color: white;
}

.ind-desc-btn {
    background-color: rgba(79, 76, 76, 0.6);
    cursor: pointer;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-right: 10px;
    border: none;
    border-radius: 16px;
    width: 344px;
    transition: all 0.3s ease-in;
    font-size: 16px;
    font-family: 'Kalam', cursive;
    color: rgb(199, 198, 198);
    font-weight: bold;
}

.ind-desc-btn:hover {
    color: rgb(230, 227, 227);
}


#title {
    position: absolute;
    top: 180px;
    left: 56px;
    font-size: 78px;
    font-family: 'Kalam', cursive;
    font-weight: 1000;
    transition: all ease-in-out 0.8s;
    text-shadow: 4px 4px 6px gray;
}

#title:hover {
    transform: scale(1.2);
}

/* similar movies */
.similarmovies {
    position: absolute;
    top: 598px;
    left: 177px;
}

.indImage {
    margin: 24px;
    transition: all ease-in-out 0.5s;
    box-shadow: 4px 12px 14px rgb(134, 131, 131);
}

.indImage:hover {
    transform: translateY(-24px);
}

#similar-title {
    position: absolute;
    top: 560px;
    left: 666px;
    font-size: 28px;
    font-family: 'Kalam', cursive;
    color: #afacac;
    font-style: italic;
}